<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/style.min.css?_v=20220721105655">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download image</title>
</head>
<body>
<h1> {{ .Path }}</h1>
<img src="img\upload-2985119351.png" alt="upload" width="500" height="333">
<img class="img-class" src="{{ .Path }}" alt="upload" width="500" height="333">
</body>
</html>

<style>
    img
    {
    margin: 8.0px;
        position: center;
    }
</style>