<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload image</title>
</head>
<body>
<form enctype="multipart/form-data" action="/images/upload" method="post">
<label for="imageFile">Choose a picture:</label>

<input type="file"
       id="imageFile" name="imageFile"
       accept="image/png, image/jpeg">

    <button type="submit" class="form-auth-reg__submit">Upload</button>
</form>
</body>
</html>

<style>
    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }

    input,
    label {
        margin: .4rem 0;
    }
    button {
        margin: .4rem 0;
    }

</style>